<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header :: header">
</head>
<body id="pgHome">
<div id="document">
<div id="header" th:include="layout/divheader :: divheader"></div>
<div id="container">
 <div id="sidebar">
  <div id="content">


  </div>
 </div>
</div>
<div id="footer">Created with JBoss EJB 3.0, Spring MVC</div>
</div>
</body>
</html>