<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <title>JBoss Suites: Spring MVC 2 Framework</title>
 <link href="css/screen.css" rel="stylesheet" type="text/css" />
</head>
<body id="pgHome">
<div id="document">
 <div id="header">
  <div id="title"><img src="img/hdr.title.gif" alt="JBoss Suites: JSF 2 framework demo"/></div>
 </div>
 <div id="container">
  <div id="sidebar">
   <form method="post" th:action="${'home.do'}" th:object="${loginForm}">
    <fieldset>
     <div>
      <span class="label">Login Name</span>
      <input th:field="*{username}" style="width: 175px;"/>
      <div class="errors" th:if="${#fields.hasErrors('username')}" th:text="${#fields.errors('username')}"></div>
     </div>
     <div>
      <span class="label">Password</span>
      <input type="password" th:field="*{password}" style="width: 175px;"/>
     </div>
     <div class="errors">
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
     </div>
     <div class="buttonBox"><input type="submit" value="Account Login"/></div>
     <div class="notes"><a href="register.do">Register New User</a></div>
     <div class="subnotes">
      Or use a demo account:
      <ul>
       <li>gavin/foobar</li>
       <li>demo/demo</li>
      </ul>
     </div>
    </fieldset>
   </form>
  </div>
 </div>
 <div id="footer">Created with JBoss EJB 3.0, Spring MVC</div>
</div>
</body>
</html>