<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/header_ajax :: header">
</head>
<body id="pgHome">
<div id="document">
<div id="header" th:include="layout/divheader :: divheader"></div>
<div id="container">
 <div id="sidebar">
 </div>
 <div id="content">
  <div class="section">
   <span class="errors" th:text="${infoMessage}"></span>
<script type="text/javascript">
 function submitFormAjax()
 {
    var queryString = $('#searchForm').serialize();
    $.post('main.do', queryString,
     function(data){
         $('#hotelsContainer').html(data);
       });
 }

 function submitCancel(cancelId)
 {
    $('input[name=cancelId]').val(cancelId);
    return $('#cancelForm').submit();
 }
</script>
   <form id="searchForm" method="post" th:action="${'main.do'}" th:object="${hotelBean}">
    <div class="errors">
      <ul th:if="${#fields.hasErrors('*')}">
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
      </ul>
    </div>
    <h1>Search Hotels</h1>
    <fieldset>
     <input th:field="*{searchString}" style="width: 165px;"/>&nbsp;
     <input type="button" value="Find Hotels(Ajax)" onclick="submitFormAjax()"/>
     <input type="submit" value="Find Hotels(POST)" />
     <img id="spinner" src="img/spinner.gif" style="display:none"/><br/>
     <span class="label">Maximum results:</span>
     <select th:field="*{pageSize}">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
     </select>
    </fieldset>
   </form>
  </div>
  <div class="section" id="hotelsContainer" th:fragment="hotelstable">
    <!--<%@include file="hotelstable.jsp" %>-->
    <span th:if="${#lists.isEmpty(hotelBean.hotels)}" id="noResultsContainer">No Hotels Found</span>
    <table th:if="${not #lists.isEmpty(hotelBean.hotels)}">
     <thead>
      <tr>
       <th>Name</th>
       <th>Address</th>
       <th>City, State</th>
       <th>Zip</th>
       <th>Action</th>
      </tr>
     </thead>
     <tbody>
      <tr th:each="hotel : ${hotelBean.hotels}">
       <td th:text="${hotel.name}"></td>
       <td th:text="${hotel.address}"></td>
       <td><span th:text="${hotel.city}"></span>, <span th:text="${hotel.state}"></span>, <span th:text="${hotel.country}"></span></td>
       <td th:text="${hotel.zip}"></td>
       <td><a th:with="baseUrl=(${'hotel.do'})" th:href="@{${baseUrl}(id=${hotel.id})}">View Hotel</a></td>
      </tr>
     </tbody>
    </table>
    <a th:if="${hotelBean.nextPageAvailable}" href="main.do?action=nextPage" id="moreResultsLink">More results</a>
  </div>  

  <div class="section">
   <h1>Current Hotel Bookings</h1>
  </div>
  <div class="section">
   <span th:if="${#lists.isEmpty(bookingBean.bookings)}">No Bookings Found</span>
   <form id="cancelForm" method="post" th:if="${not #lists.isEmpty(bookingBean.bookings)}" th:action="${'main.do'}">
   <table>
    <thead>
     <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City, State</th>
      <th>Check in date</th>
      <th>Check out date</th>
      <th>Conf number</th>
      <th>Action</th>
     </tr>
    </thead>
    <tbody>
     <tr th:each="booking : ${bookingBean.bookings}">
      <td th:text="${booking.hotel.name}"></td>
      <td th:text="${booking.hotel.address}"></td>
      <td><span th:text="${booking.hotel.city}"></span>, <span th:text="${booking.hotel.state}"></span>, <span th:text="${booking.hotel.country}"></span></td>
      <td th:text="${booking.checkinDate}"></td>
      <td th:text="${booking.checkoutDate}"></td>
      <td th:text="${booking.id}"></td>
      <td><a href="#" th:onclick="'submitCancel('+${booking.id}+');'">Cancel</a></td>
     </tr>
    </tbody>
   </table>
   <input type="hidden" name="cancelId"/>
   </form>
  </div>
 </div>
</div>
<div id="footer">Created with JBoss EJB 3.0, Spring MVC</div>
</div>
</body>
</html>