<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <title>JBoss Suites: Seam Framework</title>
 <link href="css/screen.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
</head>
</html>
